<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-md-8 col-lg-7">
        <h1>Contact Us</h1>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12 col-md-6">
        <iframe class="map"  src="https://www.google.com/maps/embed/v1/place?q=Level+2%2F7+Kelly+St%2C+Ultimo+NSW+2007&zoom=17&key=AIzaSyBvBcMc0tlCBoixamEixBoUOe1ZF7utoqM"
                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
      </div>

      <form action="https://formspree.io/reena.patil@outlook.com" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
        </div>
        <div class="form-group">
          <textarea name="message" cols="40" rows="10" class="form-control" id="message" placeholder=" Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
  </div>
</section>
