<!-- <div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <h6 class="ml-3"> Connect with Us</h6>
        <i class="fa fa-facebook ml-3"></i>
        <i class="fa fa-twitter ml-3"></i>
        <i class="fa fa-google-plus ml-3"></i>
        <i class="fa fa-pinterest-p ml-3"></i>
      </div>
    <div class="col-sm">
      Contact Us
    </div>
    <div class="col-sm">
      <%= image_tag("digital-marketplace.png", :class =>"bottom") %>
      <h6 class="mt-3"> Copyright © 2017 Marketplace</h6>
    </div>
  </div>
</div> -->

<footer>
   
     <table class="foo text-center">
      <tr>
        <th>Connect with Us</th>
        <th>Contact Us</th> 
        <th> <%= image_tag("digital-marketplace.png", :class =>"bottom") %> </th>
      </tr>
      <tr>
        <td><i class="fa fa-facebook ml-3"></i>
        <i class="fa fa-twitter ml-3"></i>
        <i class="fa fa-google-plus ml-3"></i>
        <i class="fa fa-pinterest-p ml-3"></i></td>
        <td> map </td>
        <td> Copyright © 2017 Marketplace </td>
      </tr>
     </table>
    
  
</footer>
