<h2 class="pt-5">Your Cart, you'r one step away..</h2>

<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each_with_index do |order_item, index| %>
      <%= render 'carts/cart_row', index: index, product: order_item.product, order_item: order_item, show_total: true %>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Total: <%= number_to_currency current_order.total_amount%></td>
    <td></td>
    

  </tbody>
</table>
<% end %>