// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .banner {
 	background-image: url("banner.jpg");
 	width: 100%;
 	opacity: 1.7;
 	height: 400px;
    background-size: cover;
    position: relative;
    text-align: center;

    .action-btns{
    	position: absolute;
    	bottom: 20px;
    	left: 43%;
    	text-align: center;

    	button {
	    	padding: 1rem;
	    	background: #ffffff;
	    	color: #000;
    	}
    }
 }
.search {
	margin-top: 0.7rem;
}
.top-button {
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 36%;
border: 3px solid #ffffff;

}
.sub-heading {
	padding-top: 12%;
    padding-left: 2px;
    font-size: 20px;
    letter-spacing: 1px;
}
.long-btn {
	width: 100%;
	background-color: #50ca8b;
	border-color: #50ca8b;
    color: #ffffff;
    font-weight: 100;
    font-size: 15px;
    padding: 14px 20px;
    letter-spacing: 1px;
}
.register {
	background-image: url("hero-image-one.jpg");
	height: 1042px;
	opacity: 1.5;
	background-size: cover;
}
.top {
    background-color: currentColor;
}
.img {
    width: 80%;
}