<%= link_to carts_path , class: "nav-link mr-4 text-white" do %>
  <i class="fa fa-shopping-cart"></i> 
  <span><%= current_order.order_items.size %> Items (<%= number_to_currency(current_order.total_amount) %>)</span>
<% end %>